.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: violet;
  border: 4px solid blueviolet;
  border-radius: 5%;
  box-shadow: 10px 1px 1px;
}

.key:nth-child(2n) {
  grid-column: span 2;
}

.key:nth-child(3n) {
  grid-row: span 3;
}


.playing {
  transition-property: transform, background-color;
  transition-duration: 0.1s;
  border: 4px solid peachpuff;
  transform: scale(1.25)
}

.keys {
  max-width:90vw;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

body {
  background-color: rebeccapurple;
  display: flex;
  flex-direction:j row;
  justify-content: center;
}