.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: violet;
  border: 4px solid blueviolet;
  border-radius: 5%;
  box-shadow: 10px 1px 1px;
  transition-property: transform, background-color, border, box-shadow;
  transition-duration: 0.2s;
}

.key:nth-child(2n) {
  grid-column: span 2;
}

.key:nth-child(3n) {
  grid-row: span 3;
}

.playing {
  transform: scale(1.1);
  box-shadow: 2px 1px 1px;
  border-width: 4px;
  border-style: solid
}

.playing:nth-child(odd) {
  border-color: orange;
}

.playing:nth-child(3n) {
  border-color: hotpink;
}

.playing:nth-child(2n) {
  border-color: lightgreen;
}

.playing:nth-child(4n) {
  border-color: powderblue;
}

.keys {
  max-width:90vw;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

body {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

kbd {
  font-size: 30px;
  font-weight: bold;
}